@model Reefbook.Models.ProfileModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Reefbook</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/fontawesome-free-5.11.2-web/css/fontawesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="box">
            <div class="row row-offcanvas row-offcanvas-left">


                <!-- sidebar -->
                <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">

                    <ul class="nav">
                        <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
                    </ul>

                    <ul class="nav hidden-xs" id="lg-menu">
                        <li class="active"><a href="~/Posts/Index"><i class="glyphicon glyphicon-user"></i> Profile </a></li>
                        <li><a href="~/Store/Index"><i class="glyphicon glyphicon-shopping-cart"></i> Shop </a></li>
                        <li><a href="~/HomePage/Support"><i class="glyphicon glyphicon-question-sign"></i> Why support our coral reefs?</a></li>
                        <li><a href="~/HomePage/ReefFeed"><i class="glyphicon glyphicon-comment"></i>ReefFeed</a></li>
                        <li><a href="~/HomePage/ContactUs"><i class="glyphicon glyphicon-envelope"></i> Contact Us</a></li>
                    </ul>
                    <ul class="list-unstyled hidden-xs" id="sidebar-footer">
                        <li>
                            <a href="#"><h3>Rb</h3> <i class="glyphicon glyphicon-heart-empty"></i> Reefbook</a>
                        </li>
                    </ul>

                    <ul class="nav visible-xs" id="xs-menu">
                        <li><a href="~/Posts/Index" class="text-center"><i class="glyphicon glyphicon-user"></i></a></li>
                        <li><a href="~/Store/Index" class="text-center"><i class="glyphicon glyphicon-shopping-cart"></i></a></li>
                        <li><a href="~/HomePage/Support" class="text-center"><i class="glyphicon glyphicon-question-sign"></i></a></li>
                        <li><a href="~/HomePage/ReefFeed" class="text-center"><i class="glyphicon glyphicon-comment"></i></a></li>
                        <li><a href="~/HomePage/ContactUs" class="text-center"><i class="glyphicon glyphicon-envelope"></i></a></li>
                    </ul>


                </div>
                <!-- /sidebar -->
                <!-- main right col -->
                <div class="column col-sm-10 col-xs-11" id="main">

                    <!-- top nav -->
                    <div class="navbar navbar-blue navbar-static-top">
                        <div class="navbar-header">
                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="/" class="navbar-brand logo">Rb</a>
                        </div>
                        <nav class="collapse navbar-collapse" role="navigation">
                            <form class="navbar-form navbar-left">
                                <div class="input-group input-group-sm" style="max-width:360px;">
                                    <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </form>
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="~/Posts/Index"><i class="glyphicon glyphicon-home"></i> Home</a>
                                </li>
                                @if (Session["profileID"] != null)
                                {
                                    <li><a href="@Url.Action("UserProfile", "HomePage", new {id = Session["profileID"]})">@ViewBag.User  <i class="glyphicon glyphicon-user"></i></a></li>
                                }
                                <li>
                                    <a href="@Url.Action("Logout","Home")" role="button" data-toggle="modal"><i class="glyphicon glyphicon-log-out"></i> Log-out</a>
                                </li>
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#"><i class="glyphicon glyphicon-home"></i> Home</a>
                                        </li>
                                        @if (Session["profileID"] != null)
                                        {
                                            <li><a href="@Url.Action("UserProfile", "HomePage", new {id = Session["profileID"]})">@ViewBag.User <i class="glyphicon glyphicon-user"></i> </a></li>
                                        }
                                        <li>
                                            <a href="@Url.Action("Logout","Home")" role="button" data-toggle="modal"><i class="glyphicon glyphicon-log-out"></i> Log-out</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- /top nav -->

                    <div class="padding">
                        <div class="full col-sm-9">
                            <div class="container">
                                <!-- content -->
                                <div class="row">
                                    <!-- main col left -->
                                    <div>
                                        <h1>Why support our coral reefs?</h1>
                                        <br />
                                        <br />
                                        <div class="card col-sm-4">
                                            <h3 class="card-header">Shelter</h3>
                                            <div class="card-body">
                                                <h5 class="card-title">First Reason</h5>
                                            </div>
                                            <img style="height: 200px; width: 100%; display: block;" src="~/img/1.jpg" alt="Card image">
                                            <div class="card-body">
                                                <p class="card-text">
                                                    Coral reefs are known as the tropical forests of the ocean. They provide shelter to small marine animals of different species and also bring beauty
                                                    under the sea. Corals excrete an organic matter as a liquid to provide nutrients for the creatures that surrounds them. That liquid could also serve
                                                    as the base for the rich marine ecosystem. Coral reefs also regulate the carbon dioxide cycle under water. The regulation of carbon dioxide is important
                                                    because without the corals, there would be an imbalance level of carbon dioxide that would affect the marine life.
                                                </p>
                                            </div>
                                        </div>

                                        <div class="card col-sm-4">
                                            <h3 class="card-header">Global Warming</h3>
                                            <div class="card-body">
                                                <h5 class="card-title">Second Reason</h5>
                                            </div>
                                            <img style="height: 200px; width: 100%; display: block;" src=" ~/img/2.jpg" alt="Card image">
                                            <div class="card-body">
                                                <p class="card-text">
                                                    There are now damages done mostly because of the human activities that triggers and contributes to the increase of the effects of global warming. The
                                                    damage in the marine ecosystem is quite large now and not a lot of people are aware of it. This situation would be likely noticed until a major damage has
                                                    been done.
                                                </p>
                                            </div>
                                        </div>

                                        <div class="card col-sm-4">
                                            <h3 class="card-header">Nutrients</h3>
                                            <div class="card-body">
                                                <h5 class="card-title">Third Reason</h5>
                                            </div>
                                            <img style="height: 200px; width: 100%; display: block;" src="~/img/3.jpg" alt="Card image">
                                            <div class="card-body">
                                                <p class="card-text">
                                                    Coral reefs mainly, protect coastlines from the damaging effects of wave action and tropical storms, provide habitats and shelter for many marine organisms,
                                                    provide source of nitrogen and other essential nutrients for marine food chains, assist in carbon and nitrogen fixing, and help with nutrient recycling.
                                                </p>

                                                <br />
                                                <br />
                                                <br />
                                                <br />
                                                <br />
                                                <br />
                                                <br />
                                                <br />
                                            </div>
                                        </div>


                                    </div>
                                </div><!--/row-->

                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="https://twitter.com/Reefbook1">Twitter</a> <small class="text-muted">|</small> <a href="https://www.facebook.com/Rbook20/">Facebook</a> <small class="text-muted">|</small>
                                    </div>
                                </div>

                                <div class="row" id="footer">
                                    <div class="col-sm-6">

                                    </div>
                                    <div class="col-sm-6">
                                        <p>
                                            <a href="#" class="pull-right">©Copyright 2019</a>
                                        </p>
                                    </div>
                                </div>
                                <hr>
                            </div><!-- /col-9 -->
                        </div>

                    </div><!-- /padding -->
                </div>
                <!-- /main -->
            </div>
        </div>
    </div>


    <!--post modal-->
    <!--post modal-->
    <div id="postModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    Update Status
                </div>
                <div class="modal-body">
                    <form class="form center-block">
                        <div class="form-group">
                            <textarea class="form-control input-lg" autofocus="" placeholder="What do you want to share?"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div>
                        <button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Post</button>
                        <ul class="pull-left list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- script references -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/scripts.js"></script>
</body>
</html>